@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #222323;
    --secondary: #313131;

    --blue: #42a7ff;
}

* {
    box-sizing: border-box;
}

.oauth-button {
    @apply w-fit text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2
}

.input {
    @apply border text-sm rounded-lg block w-full p-2.5 bg-gray-800 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500
}

.input:focus {
    @apply ring-blue-500 border-blue-500 outline-none
}

.button {
    @apply text-white bg-blue-600 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
}

.button:hover {
    @apply bg-blue-700
}

.button:focus {
    @apply ring-blue-600 outline-none ring-4
}

/* Oauth2 buttons */
.google {
    @apply bg-[#4285F4]
}

.google:hover {
    @apply bg-[#4285F4]/90
}

.google:focus {
    @apply ring-[#4285F4]/50 ring-4 outline-none
}

.github {
    @apply bg-[#24292F]
}

.github:hover {
    @apply bg-[#24292F]/90
}

.github:focus {
    @apply ring-gray-700 ring-4 outline-none
}